

 
.contenidos {
	
	width: 1109px;
	height: 500px;
  	overflow:auto;
  	padding:5px;
   }


/*se le aplica solo a los ul que estan en la div class menu*/


.portlet-content {
font-size: 0.9em;
margin: 0 0 15px 0;
padding: 5px 8px;
background: rgba(183, 188, 189, 0.17);
}



/*de main.css*/


	body
	{
		margin: 0;
		padding: 0;
		color: #555;
		font: normal 10pt Arial,Helvetica,sans-serif;
		background: #EFEFEF;
	}

	#page
	{
		margin-top: 5px;
		margin-bottom: 5px;
		background: white;
		border: 1px solid #C9E0ED;
	}

	#header
	{
		margin: 0;
		padding: 0;
		background: rgba(242, 226, 140, 0.92);
	}

	#content
	{
	    padding: 20px;
	}

	#sidebar
	{
		
	}

	#footer
	{
		font-size: 0.8em;
		text-align: center;
		border-top: 1px solid #C9E0ED;
	}

	#logo
	{
		padding: 10px 20px;
		font-size: 110%;
	}



/*menu principal*/
			#mainmenu
			{

				float: left;
				width: 190px;
				height: 520px;
				padding: 10px;
				background: rgba(183, 188, 189, 0.17);
				font-family: "GauntletClassic_TB";
    			src: url(../fonts/GauntletClassic_TB.otf) format("truetype");

			}
	
			#mainmenu ul
			{
				padding:6px 10px 5px 20px;
				margin:0px;
				list-style-type:none;
	
			}

			#mainmenu ul li
			{
				
				margin:0;
				padding-bottom: 15px;
				overflow:hidden;
				

			}

			#mainmenu ul li a
			{
				background-color:transparent;
				font-size:18px;
				text-decoration:none;
			}

			#mainmenu ul li a:hover, #mainmenu ul li.active a
			{
				color: #6399cd;
				background-color:#EFF4FA;
				text-decoration:none;
			}

	div.flash-error, div.flash-notice, div.flash-success
	{
		padding:.8em;
		margin-bottom:1em;
		border:2px solid #ddd;
	}

	div.flash-error
	{
		background:#FBE3E4;
		color:#8a1f11;
		border-color:#FBC2C4;
	}

	div.flash-notice
	{
		background:#FFF6BF;
		color:#514721;
		border-color:#FFD324;
	}

	div.flash-success
	{
		background:#E6EFC2;
		color:#264409;
		border-color:#C6D880;
	}

	div.flash-error a
	{
		color:#8a1f11;
	}

	div.flash-notice a
	{
		color:#514721;
	}

	div.flash-success a
	{
		color:#264409;
	}

	div.form .rememberMe label
	{
		display: inline;
	}

	div.view
	{
		padding: 10px;
		margin: 10px 0;
		border: 1px solid #C9E0ED;
	}

	div.breadcrumbs
	{
		font-size: 0.9em;
		padding: 5px 20px;
	}

	div.breadcrumbs span
	{
		font-weight: bold;
	}

	div.search-form
	{
		padding: 10px;
		margin: 10px 0;
		background: #eee;
	}

	.portlet
	{

	}

	.portlet-decoration
	{
		padding: 3px 8px;
		background: rgba(242, 226, 140, 0.92);
		border-left: 5px solid #8196A3;
	}

	.portlet-title
	{
		font-size: 12px;
		font-weight: bold;
		padding: 0;
		margin: 0;
		color: #43484C;
	}

	.portlet-content ul
	{
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		margin: 0;
		padding: 0;
	}

	.portlet-content li
	{
		padding: 2px 0 4px 0px;
	}

	.operations
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.operations li
	{
		padding-bottom: 2px;
	}

	.operations li a
	{
		font: bold 12px Arial;
		color: #43484C;
		display: block;
		padding: 2px 0 2px 8px;
		line-height: 15px;
		text-decoration: none;
	}

	.operations li a:visited
	{
		color: #43484C;
	}

	.operations li a:hover
	{
		background: #80CFFF;
	}